<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            * {
                font-family: "Inter Variable", -apple-system, system-ui,
                    sans-serif;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            .flex-container {
                display: flex;
                justify-content: center;
                height: 100vh;
                background-color: #172c44;
                align-items: center;
            }
            .form-div {
                padding: 2em;
                background-color: white;
                width: 28rem;
                border-radius: 1em;
            }
            h1 {
                font-size: 1.875em;
                line-height: 2.375rem;
                font-weight: 600;
            }
            .form-content {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            input,
            button {
                height: 2.5rem;
                border-radius: 0.5rem;
                border: 1px solid #e2e8f0;
                font-size: 1rem;
            }
            input,
            label {
                color: black;
                margin-top: 0.5rem;
            }
            button {
                color: white;
                background: #78ab4a;
                cursor: pointer;
            }
            .center {
                text-align: center;
                margin-bottom: 2em;
            }
            img {
                width: 200px;
            }
        </style>
        <title>Document</title>
        <script>
            var status = `<%- JSON.stringify(status) %>`;

            if (JSON.parse(status) == "verified") {
                if (confirm("Do u want to login?")) {
                    window.location.href = "http://localhost:3000/";
                }
            }
        </script>
    </head>
    <body>
        <div class="flex-container">
            <div class="form-div">
                <div class="center">
                    <img
                        alt="logo"
                        src="https://uploads-ssl.webflow.com/643cf2f78897e3e6b64779a9/64642eaa53e8234c891aafa5_Screenshot%202023-05-16%20at%206.30.59%20PM.png"
                    />
                    <h1>Create Your New Password</h1>
                </div>

                <form class="form-content" action="" method="post">
                    <label>Email Address : <%= email%></label>

                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter new password"
                    />
                    <input
                        type="text"
                        name="confirmPassword"
                        id="confirmPassword"
                        placeholder="Confirm your password"
                    /><br /><button>Reset password</button>
                </form>
            </div>
        </div>
    </body>
</html>
