.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    background-color: rgb(193, 136, 32);
    grid-auto-rows: 10em;
    grid-auto-columns: 10px;
}
.grid-container > div {
    background-color: #23239a;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container > .L {
    grid-area: auto/auto/span 2 / span 2;
}
.grid-container > .M {
    grid-area: auto/auto/span 1 / span 2;
}
